body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffbe600;
  margin: 0;
}

header {
  background-color: #8a4bbdee;
  color: rgb(14, 15, 3);
  text-align: center;
  padding: 25px;
}

section {
  background: rgb(134, 78, 180);
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 1);
}

h2 {
  color: #07111d;
}

img {
  display: block;
  margin-bottom: 10px;
  border-radius: 50%;
}

a {
  color: #070702;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #000000;
}
