body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6f0ff;
    margin: 0;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 25px;
}

section {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}

h2 {
    color: #4a90e2;
}

img {
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
}

a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #333;
}